/* Tailwind's breakpoint classes */
@media (max-width: 640px) {
    /* Apply styles for small screens */
    .your-class {
      /* Example for mobile screens */
      padding: 1rem;
    }
  }
  
  @media (min-width: 640px) and (max-width: 768px) {
    /* Apply styles for tablet screens */
    .your-class {
      /* Example for tablets */
      padding: 2rem;
    }
  }
  
  @media (min-width: 768px) {
    /* Apply styles for larger screens */
    .your-class {
      /* Example for desktop */
      padding: 4rem;
    }
  }
  











  
  
  
  .dropdown {
    position: absolute;
    right: 0;
    margin-top: 0.5rem;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 0.5rem 0;
    width: 150px;
    z-index: 50; /* Dropdownni yuqoriga chiqarish uchun */
  }
  
  .dropdown-btn {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0.5rem 0;
    text-align: center;
    background-color: transparent;
    border: none;
    font-size: 1rem;
    color: #333;
  }
  
  .dropdown-btn:hover {
    background-color: #f0f0f0;
  }
  
  .dropdown-btn:focus {
    outline: none;
  }
  
  .dropdown-item {
    display: block;
    padding: 0.5rem 1rem;
    text-align: left;
    background-color: transparent;
    border: none;
    width: 100%;
    cursor: pointer;
    color: #333;
  }
  
  .dropdown-item:hover {
    background-color: #f0f0f0;
  }
  
  .dropdown-item-uzbek:hover {
    background-color: #e3f9f3;
  }
  
  .dropdown-item-russian:hover {
    background-color: #e3e7f9;
  }
  
  .dropdown-item-english:hover {
    background-color: #f9f3e3;
  }
  
  .dropdown-item span {
    font-weight: 500;
    color: #333;
  }
  
  .dropdown-item-uzbek span {
    color: #28a745; /* Uzbek uchun maxsus rang */
  }
  
  .dropdown-item-russian span {
    color: #dc3545; /* Russian uchun maxsus rang */
  }
  
  .dropdown-item-english span {
    color: #007bff; /* English uchun maxsus rang */
  }
  